.not-found-container {
  text-align: center;
  padding: 4rem 1rem;

  h2 {
    font-size: 2.4rem;
    color: #ff9500;
  }

  p {
    margin-top: .5rem;
    color: #000000;
  }

  .btn-back {
    display: inline-block;
    margin-top: 1.5rem;
    padding: .7rem 1.4rem;
    border-radius: .5rem;
    background: #ff9500;
    color: #fff;
    text-decoration: none;
  }
}
