.box-img-admi {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 120px;
        height: 150px;
        object-fit: cover;
    }
}

.img-home-admi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 830px;
        height: 221px;
        object-fit: cover;
    }
}

.card-img-small {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.card-admi {
    max-height: auto;
    max-width: 250px;
}