.curso-profesor-vista {
  padding: 40px;
  background: #f8f8f8;
  min-height: 100vh;

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }

  p {
    color: #555;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .acciones-profesor {
    display: flex;
    flex-direction: column;
    gap: 12px;

    button {
      padding: 14px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-weight: 600;
      background: #ff7f32 ;
      color: white;
      transition: 0.2s;

      &:hover {
        background: #ff7f32 ;
      }
    }
  }
}
